body {
   padding: 0;
   margin: 0;
   background: gray;
   padding: 15px 30px 0px;
   /* display: flex; */
   flex-direction: column;
}

.super {
   position: relative;
   overflow: hidden;
   max-width: 1450px;
   margin: 0 auto;
}
.inputs-wrapper {
   display: inline-flex;
}

.memes-container {
   display: inline-flex;
   justify-content: flex-start;
   width: 100%;
   transition: all 0.4s;
}
.img-container {
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   width: 100%;
}

.img-container img {
   max-height: 80vh;
   width: 100%;
   display: block;
}
.img-container span {
   color: #fff;
   margin-top: 40px;
}

.label-container {
   background: gray;
   display: flex;

   transform: translateY(-21px);
   max-width: 1450px;

   gap: 30px;
   margin-left: auto;
   width: fit-content;
}

label {
   padding: 5px;
   cursor: pointer;
}

.label-container div {
   display: block;
   background: url(./img/control.svg);
   width: 14px;
   height: 14px;
   cursor: pointer;
}

.label-container label:hover div {
   background-color: #7e5d6f;
   border-radius: 25px;
}

input {
   visibility: hidden;
}

input[id='one']:checked ~ .super .memes-container {
   transform: translateX(0);
}
input[id='two']:checked ~ .super .memes-container {
   transform: translateX(-100%);
}
input[id='three']:checked ~ .super .memes-container {
   transform: translateX(-200%);
}
input[id='four']:checked ~ .super .memes-container {
   transform: translateX(-300%);
}

@media screen and (max-width: 500px) {
   .img-container span {
      margin: 0 auto;
      margin-top: 100px;
   }

   .label-container {
      margin: 0 auto;
      transform: translateY(-70px);
   }
}
